* {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

.title {
  font-size: 4rem;
  color: #252525;
  font-weight: 500;
  margin: 0 15%;
}

.subtitle {
  font-size: 2rem;
  color: #000000;
  font-weight: 700;
  margin: 2rem auto;
}

p {
  font-size: 1.6rem;
  color: #353d41;
  font-weight: 500;
  margin: 3rem 15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-violet {
  background-color: #8067f8;
  border: 1px solid #8067f8;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 1rem 3rem;
  white-space: nowrap;
}

.container {
  text-align: center;
  padding: 7rem 0;
}

.row {
  margin: 0;
}

.header {
  background-color: #353d41;
  height: 50px;
}

.header .container {
  padding: 0;
}

.header span {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}

.header i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
}

.header__contact i {
  margin-right: 2rem;
}

.nav {
  background-color: #ffffff;
  text-transform: uppercase;
  height: 70px;
}

.nav .container {
  padding: 0;
}

.nav__logo {
  width: 40%;
}

.nav__logo a {
  font-size: 3.5rem;
  color: #808080;
  font-weight: 500;
}

.nav__logo span {
  font-size: 4.5rem;
  color: #8067f8;
  font-weight: 700;
}

.nav__content {
  width: 60%;
  line-height: 70px;
}

.nav__content ul li a {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 700;
}

.nav__content ul li a:hover {
  color: #8067f8;
}

.nav__content .active a {
  color: #8067f8;
}

.carousel {
  background: url(../img/b1.jpg) 100% 100% no-repeat;
  background-size: cover;
  height: 70rem;
}

.carousel h1 {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
}

.carousel p {
  color: #ffffff;
}

.carousel .btn-about-us {
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  color: #ffffff;
  padding: 1rem 3rem;
}

.about {
  background-color: #ffffff;
}

.about p {
  margin: 2rem auto;
}

.about hr {
  border-bottom: 0.5px solid rgba(156, 157, 158, 0.3);
  width: 75%;
  margin: 4rem auto;
}

.about__content i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 4rem;
  color: #e87461;
  text-align: center;
}

.about__item {
  padding: 0 2rem;
}

.about__item:nth-child(2) {
  border-left: 0.5px solid rgba(156, 157, 158, 0.3);
  border-right: 0.5px solid rgba(156, 157, 158, 0.3);
}

.contact {
  background: url(../img/3.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact h1 {
  color: #ffffff;
  word-spacing: 0.5rem;
  margin: 0;
}

.stats {
  background-color: #ffffff;
}

.stats__item h2 {
  font-size: 4rem;
  color: #e87461;
  font-weight: 700;
  margin: 3rem 0;
}

.stats__item h3,
.stats__item p {
  margin: 1rem;
}

.gallery {
  background: url(../img/3.jpg) 100% 100% no-repeat;
  background-size: cover;
}

.gallery h1,
.gallery p {
  color: #ffffff;
}

.gallery__content {
  padding-top: 2rem;
}

.gallery__item {
  text-align: center;
  padding: 4rem;
  background-color: #ffffff;
}

.gallery__item i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 4rem;
  color: #e87461;
  text-align: center;
}

.gallery__item h2 {
  font-size: 2.5rem;
}

.gallery__item p {
  color: #000000;
  margin: 0;
}

.gallery__item--primary {
  background-color: #e87461;
  color: #ffffff;
}

.gallery__item--primary i,
.gallery__item--primary p {
  color: #ffffff;
}

.opinion {
  background-color: #ffffff;
}

.opinion__item img {
  border: 0.5rem solid #8067f8;
  border-radius: 50%;
  width: 100px;
  margin: 15px 0;
}

.opinion__pages a {
  margin: 0 0.5rem;
}

.opinion__pages i {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.6rem;
  color: #e87461;
  text-align: center;
  opacity: 0.5;
}

.opinion__pages .active i {
  opacity: 1;
}

.subscribe {
  background-color: #0b0c11;
}

.subscribe h2 {
  font-size: 2.5rem;
  color: #e87461;
  font-weight: 500;
}

.subscribe__newsletter {
  text-align: left;
  padding: 0 1rem;
}

.subscribe__newsletter p {
  margin: 2rem 0;
  color: #9c9d9e;
}

.subscribe__newsletter input {
  width: 75%;
  font-size: 1.6rem;
}

.subscribe__newsletter input:focus {
  outline: none;
}

.subscribe__newsletter button i {
  font-size: 1.6rem;
}

.subscribe__links {
  text-align: left;
  padding: 0 1rem;
}

.subscribe__links ul li a {
  color: #ffffff;
}

.subscribe__contact {
  text-align: left;
  padding: 0 1rem;
}

.subscribe__contact ul li {
  font-size: 1.6rem;
  color: #9c9d9e;
}

.subscribe__contact ul li i {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: #e87461;
  text-align: center;
  margin-right: 2rem;
}

.footer {
  background-color: #252525;
  height: 60px;
}

.footer .container {
  padding: 0;
}

.footer p,
.footer u {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  line-height: 60px;
}

.arrow-up {
  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  right: 1rem;
}

@media screen and (max-width: 992px) {
  * {
    font-size: 9px;
  }
  .about__item:nth-child(2) {
    border-right: none;
  }
  .about__item:last-child {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 8px;
  }
  .contact button {
    margin-top: 2rem;
  }
  .contact h1 {
    margin: 0 15%;
  }
}

@media screen and (max-width: 576px) {
  * {
    font-size: 7px;
  }
  .about__item:nth-child(2) {
    border: none;
  }
  .gallery .container {
    padding: 7rem 10%;
  }
  .subscribe .container {
    padding: 7rem 10%;
  }
}
/*# sourceMappingURL=style.css.map */